.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-caption {
  padding: 16px;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.cardsStyle{
  display: flex;
}
.cardDiv card {
  height: 40px;
  width: 40px;
}
