.billing {
  background-size: cover;
  background-position: center;
  background-color: transparent;
}
.definitionCard {
  margin-top: 0.5%;
  margin-left: 6%;
}
.billingTitle {
  padding-left: 500px;
}

.billingTitle button {
  margin-top: 20px;
  height: 70px;
  width: 275px;
}
.billingTitle button[type="text"] {
  font-size: 200px;
}
