.cards {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 20px;
  gap: 20px;
}
.cards card {
  border: 3px solid #117faf;
}

.CardFontStyle {
  font-family: "Roboto Slab";
  font-weight: 300;
  font-size: large;
}
